@page

@* Создайте систему веб-страниц с помощью Razor Pages. Разработайте два основных шаблона страниц и обеспечьте пользователю возможность переключаться между ними в процессе использования приложения. *@

<h1>Here First page</h1>
<p class="text-muted">:)</p>
<a class="nav-link text-dark" asp-area="" asp-page="/Second">Second</a>
